In [48]:
import pandas as pd
import geonamescache
import unidecode
import regex as re

In [37]:
gc = geonamescache.GeonamesCache()
countries = gc.get_countries()
cities = gc.get_cities()

In [38]:
country_names = []
for key, country in countries.items():
    country_names.append(country["name"])

In [39]:
city_names = []
for key, city in cities.items():
    city_names.append(city["name"])

In [55]:
country_regexp = re.compile(r"\b\L<country_names>\b", country_names = country_names)

In [57]:
city_regexp = re.compile(r"\b\L<city_names>\b", city_names = city_names)

In [100]:
file = open("data/headlines.txt", "r")
data = {"headline":[], "countries":[], "cities":[]}

for line in file.readlines():
    decoded = unidecode.unidecode(line)
    decoded = re.sub(r"\n", "", decoded)
    data["headline"].append(decoded)
    cntry = country_regexp.search(decoded)
    city = city_regexp.search(decoded)
    if (cntry):
        data["countries"].append(decoded[cntry.start(): cntry.end()])
    else:
        data["countries"].append(None)
    
    if (city):
        data["cities"].append(decoded[city.start(): city.end()])
    else:
        data["cities"].append(None)
        
file.close()

In [101]:
dataset = pd.DataFrame(data)

In [103]:
dataset.head()

                                  headline countries         cities
0                 Zika Outbreak Hits Miami      None          Miami
1          Could Zika Reach New York City?      None  New York City
2        First Case of Zika in Miami Beach      None    Miami Beach
3  Mystery Virus Spreads in Recife, Brazil    Brazil         Recife
4  Dallas man comes down with case of Zika      None         Dallas